<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="connectionstring" value="Provider=Microsoft.Jet.OLEDB.4.0;Password=;User ID=Admin;Data Source=E:\web\aspnet\WsClientes\DBClientes.mdb"/>
    </appSettings>

    <system.web>
        <customErrors mode="Off"/>

        <trace enabled="true" requestLimit="200"/>

        <compilation defaultLanguage="vb" debug="true" />

        <authentication mode="Windows" />

        <authorization>
            <allow users="*" />
        </authorization>

    </system.web>
</configuration>
